/*base styles*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    /*color:#e8e6e3;*/
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*makes the content come to the middle*/
    text-align: center;
    background:url(/image/pexels-adrien-olichon-2387793.jpg) no-repeat center/ cover; /*makes the image fit your whole screen and makes it look good,90% of the time it looks good as you want. */

}


/*Specific styles*/

.container{
   height: 550px;
   width: 750px;
}

.header{
    font-size: 1.2rem;
    border: solid 2px grey;
    background-color:black;
    color:#e8e6e3;
    padding: 5px;
    width: 80%; 
    margin: 20px auto; /*auto : to make the header box center to its container*/
    border-radius: 6px;
}

.main-content{
    height: 300px;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    padding:50px 40px; /*reads 50px top/bot and 40px left/right*/
    /*box-shadow: 0 0 10px; /*reads 0 in x/y and 10px blur*/
    background-color: #121212;
    box-shadow: #fff 0px 20px 30px -10px;
    
}

.text-area{
    font-size: 1.5rem;
    line-height: 1.6;
    text-shadow: 3px 3px 20px #ff99cc,
    -2px 1px 30px #ff99cc;
    /*color: #67875d;*/
    color:#fff;
}

.person{
    font-size: 1.6rem;
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    margin-top: 25px;
    letter-spacing: 3px;
}

button{
    background-color: #262626;
    color:#e8e6e3;
    font-size: 1.3rem;
    padding: 10px 15px; /*reads 10px top/bot and 15px left/right*/
    margin-top: 25px;
    border-radius: 6px;
}

button:active{ /*makes the button change color when clicked, active state changes*/
    background-color: lightgray;
}

button:hover{
    cursor: pointer;
}